@import "../styles/variables.scss";

.wrapper {
    overflow: hidden;
    background-color: var(--background);
}


.background-about {
    background-image: url(../../public/about-img.jpg);
    height: 100%;
    opacity: 30%;
    filter: brightness(0.7);
    background-size: cover;
    background-repeat: no-repeat;
}


.background-skills {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: rotateX(180deg);
}

.background-skills path {
    fill: url(#gradient);
}


/* .header::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5rem;
    width: 4px;
    height: 120%;
    background-color: lightgray;
    animation: typeWriter 1s infinite;
} */

@keyframes typeWriter {
    0%,
    50% {
        opacity: 0; /* At the beginning and halfway through, be fully transparent */
    }
    100% {
        opacity: 0.6; /* At the end, be fully opaque */
    }
}



.border-white-gradient {
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #333, rgba(0, 0, 0, 0)) 1;
}