
.background-about {
    right: 0;
    position: absolute;
    background-image: url(../../public/home.jpg);
    width: 50%;
    height: 100%;
    opacity: 20%;
    filter: brightness(0.6);
}



.background-skills {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: rotateX(180deg);
}

.background-skills path {
    fill: url(#gradient);
}


.header {
    position: relative;
    color: #fff;
    font-size: 4.6rem;
}

.header::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5rem;
    width: 4px;
    height: 120%;
    background-color: lightgray;
    animation: typeWriter 1s infinite;
}

@keyframes typeWriter {
    0%,
    50% {
        opacity: 0; /* At the beginning and halfway through, be fully transparent */
    }
    100% {
        opacity: 0.6; /* At the end, be fully opaque */
    }
}

