:root {
    --background: #0a0d11;
    --primary: #F59E0B;
    --primary1: #D18C08;
    --primary2: #AF7905;
    --primary3: #8D6602;
    --primary4: #6B5300;
    --primary5: #493000;
    --slide-with: 700px
}