@import "../styles/components.scss";
@import "../styles/glitch.scss";
@import "../styles/pages.scss";
@import "../styles/variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        scroll-behavior: smooth
    }

    body {

        @apply text-base text-primary;
    }
    
    p {
        @apply sm:text-base text-sm font-inter font-extralight; 

    }

    h1 {
        @apply lg:text-5xl sm:text-3xl text-lg tracking-widest uppercase font-jetBrains font-medium; 
    }

    h2 {
        @apply text-[1.2rem] font-medium font-jetBrains; 
    }

    h3 {
        @apply text-lg font-bold tracking-tighter uppercase;
    }        


    h4 {
        @apply text-base uppercase tracking-widest font-bold;
    }

    h5 {
        @apply text-sm font-jetBrains font-normal uppercase;
    }
    h6 {
        @apply text-xs font-jetBrains font-normal uppercase;
    
    }

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
transition: background-color 5000s ease-in-out 0s !important;
-webkit-text-fill-color: var(--primary) !important;
}